@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  /* justify-content: end; */
  background: #ef5d58 !important;
}

.activeBtn {
  transform: translateX(25px);
}

.checked {
  background: #f85a4f !important;
  color: #050a1e;
}
