@tailwind base;
@tailwind components;
@tailwind utilities;

#amountRange {
  -webkit-appearance: none; /* Remove default styling for WebKit browsers */
  background-color: red;
  height: 3px;
  border-radius: 5px;
  outline: none;
}

#amountRange-webkit-slider-runnable-track {
  background: blue;
}
