@tailwind base;
@tailwind components;
@tailwind utilities;

#amountRange {
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(
    to right,
    var(hsl(174, 86%, 45%)) 0%,
    var(hsl(174, 86%, 45%)) 50%,
    var(hsl(174, 86%, 45%)) 50%,
    var(hsl(174, 86%, 45%)) 100%
  );
  margin: 2.25rem 0;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
