@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-closed {
    transform: translateX(10%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Si quieres transiciones suaves */
  }

  @screen xl {
    .menu-closed {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.body-closed {
  overflow-y: hidden;
}

.header-scroll {
  transform: translateY(-100%);
  opacity: 0;
}
