@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

.animation {
  transition: all 0.1s ease-out;
}

@theme {
  --font-space-mono: "Space Mono", sans-serif;
}

@layer components {
  .no-spinner {
    -moz-appearance: textfield;
  }
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
