@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

.animation {
  transition: all 0.3s ease-out;
}

@theme {
  --font-principal: "Plus Jakarta Sans", sans-serif;
  --color-blue-sky: #e4f4fd;
  --color-bg-results: #133040;
  --color-pickle: #dadb30;
  --color-border: #a4b4bb;
  --color-redError: #d53328;
}

/* quitar las flechitas del input:number */
@layer components {
  .no-spinner {
    -moz-appearance: textfield;
  }
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
